/* Добавочки */
.page-title {
    margin-top   : 15px;
    margin-bottom: 0;
    font-weight  : normal;
}

h2 {
    font-size : 1.5rem;
    margin-top: 0;
}

.callout {
    background: url("img/bulb.svg") no-repeat 10px 15px / 4% #FFE98E;
    padding   : 1rem 1rem 1rem 3.5rem;
}

#footer {
    background   : url("img/logo_practicum.png") no-repeat 100% 10px;
    padding-right: 250px;
    min-height   : 40px;
    white-space  : initial;
}

#saying {
    color: #fff;
}

#saying .text {
    font-size  : 1.3rem;
    line-height: 1.5rem;
}

#saying .src {
    font-size : 0.98rem;
    font-style: italic;
    text-align: right;
}